#header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3rem;
  width: 90%;
  height: 10%;
  padding: 1rem;
}

#main {
  align-items: top;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
}
