.table-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.3s;
  opacity: 0;
}

.table-container.open {
  max-height: 1000px; /* 충분히 큰 값으로 설정 */
  opacity: 1;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.table-header p {
  margin-left: auto;
}
